pkgbase = sonic-system-info
	pkgdesc = Display information about your computers hardware on the Sonic desktop
	pkgver = 6.6.4
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-system-info
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = fwupd
	makedepends = kdoctools
	makedepends = vulkan-headers
	depends = aha
	depends = clinfo
	depends = dmidecode
	depends = gcc-libs
	depends = glibc
	depends = glu
	depends = iproute2
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdeclarative
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kservice
	depends = libdisplay-info
	depends = libdrm
	depends = libpulse
	depends = libusb
	depends = lm_sensors
	depends = mesa-utils
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = solid
	depends = systemsettings
	depends = vulkan-tools
	depends = xorg-xdpyinfo
	optdepends = fwupd: firmware security module
	optdepends = plasma-disks: SMART devices health monitor
	provides = kinfocenter
	conflicts = kinfocenter
	source = https://github.com/Sonic-DE/sonic-system-info/archive/refs/tags/6.6.4.tar.gz
	sha256sums = 6b924706d75a11314c883051fe09edc24615a8b52cb23cd38d35608fb26753cb

pkgname = sonic-system-info
